<!DOCTYPE html>
<html>
    <head>
        <base href="/meme51/">
        <link rel="stylesheet" href="./assets/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="//platform-api.sharethis.com/js/sharethis.js#property=5c0927a59d70600011a13dd5&product=inline-share-buttons"></script>
        <title>{% block title 'Meme 51' %}</title>
    </head>
    <body class="bgSVG">
        {% include 'Layout/nav.html.twig' %}

        <main class="d-flex flex-column w100 custom">
            {% block content %}{% endblock %}
        </main>

        {% include 'Layout/footer.html.twig' %}

        <script src="./assets/js/script.js"></script>
    </body>
</html>
